@import "tailwindcss";


*{
  user-select: none!important;
}

.frame{
  -webkit-app-region: drag;
}

.frame div button {
  -webkit-app-region: no-drag;
}

* {
  font-family: 'Inter', 'Segoe UI', Roboto, sans-serif !important;
  /* font-weight: 600; */
}
